
%li.step{:class => "color_#{step['step_id'].size % 5}"}
  = step["stub"]
  - (step["children"] || []).each_with_index do |execution_set, set_index|
    - if set_index > 5
      \.
    - elsif set_index == 5
      %br/
      Executed 
      = (step["children"] || []).size - 5
      more times
      %br/
    - else
      .execution
        {
        .name= execution_set["name"]
        %ol.steps
          
          - execution_set["steps"].each do |child|
            = haml :_step, :locals => {:step => child}
        }